.u-text-colorized {
  color: darken($purple-color-1, 10);
}

.center-content {
  margin-left: 45%;
}

.u-text-small {
  font-size: 0.8em;
}

.u-text-large {
  font-size: 2rem;
}

.u-text-bold {
  font-weight: bold;
}

.u-tex-ellipsis {
  text-overflow: ellipsis;
}

.u-btn-colorized {
  margin-left: 20px;
  color: $purple-color-1;
  transition: all $transitions-timeout;
  padding: 10px 20px;
  border: 1px solid $purple-color-1;
  border-radius: 30px;

  &:hover {
    color: white;
    text-decoration: none;
    background-color: $purple-color-1;
  }

  &-active {
    color: white;
    background-color: $purple-color-1;

    &:hover {
      background-color: $purple-color-2;
      border: 1px solid $purple-color-2;
    }
  }
}
